<%= form_tag contact_path do %>
  <%= hidden_field_tag :tutor_id, @tutor.id %>
  <div class="form-group">
    <%= label_tag 'Your Name*'  %>
    <%= text_field_tag :first_name, nil, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= label_tag 'Email Address*'  %>
    <%= email_field_tag :email, nil, class: 'form-control'  %>
  </div>
<div class="form-group">
    <%= label_tag 'Send Message To?*'  %>
    <%= select_tag :whom, options_for_select([@tutor.name, "Pairbis Customer Support"]),
                   class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= label_tag 'Subject*'  %>
    <%= select_tag :category, options_for_select(["I want to schedule a lesson", "I have a question"]),
                   class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= label_tag 'Message'  %>
    <%= text_area_tag :message, nil, class: 'form-control'  %>
  </div>
  <div class="actions">
    <%= submit_tag "Send", class: "btn btn-primary" %>
  </div>
<% end %>