<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @session.day %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @session.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @session.end_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @session.status %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @session.tutor_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @session.student_id %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
