<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, t(:name_student) %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :country, t(:country_student) %><br>
    <%= country_select "student", "country",
                       { priority_countries: ['US', 'CN', 'JP', 'KR', 'TW'] },
                       { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :skype_id, t(:skype_id_student) %><br>
    <%= f.text_field :skype_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :gmail_address, t(:gmail_address_student) %><br>
    <%= f.email_field :gmail_address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :preference, t(:preference_student) %><br>
    <%= f.select :preference, ['Skype', 'Google Hangouts'], { selected: @student.preference },
                 { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :timezone, t(:timezone) %><br>
    <%= f.time_zone_select :timezone, timezones, {},
                 { class: "form-control" } %>
  </div>
  <div class="actions">
    <%= f.submit t(:update_my_profile_student), class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57658580-1', 'auto');
  ga('send', 'pageview');

</script>
