<%= form_for(@tutor) do |f| %>
  <% if @tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
      <% @tutor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Name (e.g., John Smith)' %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :format %><br>
    <%= f.select :format, ['Skype', 'In Person'], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :undergraduate_institution, 'College' %><br>
    <%= f.select :undergraduate_institution, ['Harvard', 'MIT', 'Yale', 'Princeton', 'Stanford', 'Other'], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :undergraduate_major, 'Major' %><br>
    <%= f.text_field :undergraduate_major, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :graduate_institution, 'Graduate School' %><br>
    <%= f.select :graduate_institution, ['Harvard', 'MIT', 'Yale', 'Princeton', 'Stanford', 'Other'],
                 { include_blank: true }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :graduate_study_field, 'Field of Study' %><br>
    <%= f.text_field :graduate_study_field, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :subject %><br>
    <% Tutor::SUBJECTS.each do |subject| %>
        <%= subject_checkbox subject %>
    <% end  %>
  </div>
  <div class="form-group">
    <%= f.label :price, 'Hourly Price (USD): This is the price students will pay. You will get 80% of it deposited to your bank account every week.' %><br>
    <%= f.select :price, [20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bio, 'Profile (150 characters or less)' %><br>
    <%= f.text_area :bio, class: "form-control", maxlength: 150 %>
  </div>
  <div class="form-group">
    <%= f.label :long_bio, 'Profile (1000 characters or less)' %><br>
    <%= f.text_area :long_bio, class: "form-control", maxlength: 1000 %>
  </div>
  <div class="form-group">
    <%= f.label :skype_id, 'Skype ID' %><br>
    <%= f.text_field :skype_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :gmail_address %><br>
    <%= f.email_field :gmail_address, class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="">Languages</label>
    <div class="checkbox">
      <label>
        <%= check_box_tag "tutor[languages]", 'English', false %>
        English
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= check_box_tag "tutor[languages]", 'Chinese', false %>
        Chinese
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= check_box_tag "tutor[languages]", 'Japanese', false %>
        Japanese
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= check_box_tag "tutor[languages]", 'Korean', false %>
        Korean
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= check_box_tag "tutor[languages]", 'Spanish', false %>
        Spanish
      </label>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Update My Profile", class: "btn btn-primary" %>
  </div>
<% end %>
