<%= form_for(@tutor) do |f| %>
    <% if @tutor.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @tutor.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>It should take 2-3 minutes to complete! (You can skip optional fields for now.)</p>
    <div class="form-group">
      <%= f.label :name, t(:your_name) %><br>
      <%= f.text_field :name, class: "form-control", placeholder: "John S." %>
    </div>
    <div class="form-group">
      <%= f.label :image, 'Picture (Recommended. You can also upload it later.)' %><br>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :undergraduate_institution, 'College*' %><br>
      <%= f.select :undergraduate_institution, Tutor::INSTITUTIONS,
                   { selected: selected_institution(@tutor) }, { class: "form-control", id: 'undergraduate-institution' } %>
    </div>
    <div class="form-group <%= other_institution_class(@tutor) %>" id='other-undergraduate-institution'>
      <%= label_tag :other_undergraduate_institution, 'Which school?' %><br>
      <%= text_field_tag 'tutor[other_undergraduate_institution]',
                         @tutor.undergraduate_institution, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :undergraduate_major, 'Major*' %><br>
      <%= f.text_field :undergraduate_major, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :graduate_institution, 'Graduate School (Optional)' %><br>
      <%= f.select :graduate_institution, Tutor::INSTITUTIONS,
                   { selected: selected_graduate_institution(@tutor), include_blank: true },
                   { class: "form-control", id: 'graduate-institution' } %>
    </div>
    <div class="form-group <%= other_graduate_institution_class(@tutor) %>" id='other-graduate-institution'>
      <%= label_tag :other_graduate_institution, 'Which school?' %><br>
      <%= text_field_tag 'tutor[other_graduate_institution]',
                         @tutor.graduate_institution, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :graduate_study_field, 'Graduate School Field of Study (Optional)' %><br>
      <%= f.text_field :graduate_study_field, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :subject, 'Subjects*' %><br>
      <% Tutor::SUBJECTS.each do |subject| %>
          <%= custom_checkbox 'subjects', subject, @tutor.has_subject?(subject) %>
      <% end  %>
    </div>
    <div class="form-group <%= other_subject_class(@tutor) %>" id='other-subject'>
      <%= label_tag :other_subject, 'What subjects?' %><br>
      <%= text_field_tag 'tutor[subjects][other_subject]',
                         @tutor.other_subject, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price, 'Hourly Price USD* (This is the price students will pay. You will get 80% of it deposited to your PayPal or Venmo immediately after a lesson is completed.)' %><br>
      <%= f.select :price, (20..100).step(5).to_a, { selected: @tutor.price.to_i }, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :bio, 'Profile (150 Characters or Less)* (This will show up on tutor search page.)' %><br>
      <%= f.text_area :bio, class: "form-control", maxlength: 150 %>
    </div>
    <div class="form-group">
      <%= f.label :long_bio, 'Profile (1,000 Characters or Less)* (This will show up on your public profile page. You can also copy & paste the same profile as above for your convenience.)' %><br>
      <%= f.text_area :long_bio, class: "form-control", maxlength: 1000 %>
    </div>
    <div class="form-group">
      <%= f.label :skype_id, 'Skype ID* (Visible only to the student who has a confirmed lesson with you)' %><br>
      <%= f.text_field :skype_id, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :gmail_address, 'Gmail Address (for Hangouts)* (Visible only to the student who has a comfirmed lesson with you)' %><br>
      <%= f.email_field :gmail_address, class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="">Languages You Speak*</label>
      <% Tutor::LANGUAGES.each do |language| %>
          <%= custom_checkbox 'languages', language, @tutor.has_language?(language) %>
    <% end  %>
    </div>
    <div class="form-group">
      <%= f.label :paypal_account, 'PayPal　(email address) or Venmo (phone number). Visible only to you. You can also skip it for now.' %><br>
      <%= f.text_field :paypal_account, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :timezone, t(:timezone) %><br>
      <%= f.time_zone_select :timezone, timezones, { prompt: t(:select_your_timezone) },
                   { class: "form-control" } %>
    </div>
    <div class="actions">
      <%= f.submit "Update My Profile", class: "btn btn-primary" %>
    </div>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57658580-1', 'auto');
  ga('send', 'pageview');

</script>
