<%= form_for(@tutor) do |f| %>
  <% if @tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
      <% @tutor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :format %><br>
    <%= f.select :format, ['Skype', 'In Person'], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :undergraduate_institution, 'Undergraduate' %><br>
    <%= f.text_field :undergraduate_institution, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :undergraduate_major, 'Major' %><br>
    <%= f.text_field :undergraduate_major, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :graduate_institution, 'Graduate' %><br>
    <%= f.text_field :graduate_institution, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :graduate_study_field, 'Field of Study' %><br>
    <%= f.text_field :graduate_study_field, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bio, 'Profile (200 characters or less)' %><br>
    <%= f.text_area :bio, class: "form-control", maxlenght: 200 %>
  </div>
  <div class="form-group">
    <%= f.label :long_bio, 'Profile (1000 characters or less)' %><br>
    <%= f.text_area :long_bio, class: "form-control", maxlenght: 1000 %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
