.flex.f-column
  %h3.rm-top
    .pull-right
      - if (@tutor.is_the?(current_user)) && @tutor.completed_profile?
        = link_to new_lesson_path, class: 'btn btn-primary pull-right', data: { no_turbolink: true } do
          %i.glyphicon.glyphicon-plus
          New Lesson
    = t :lessons

  - if @tutor.is_the?(current_user)
    - if lessons.count.zero?
      You haven't created open lessons yet. Click "New Lesson" to create one now!
    - else
      = render 'lessons/lessons_list'
  - else
    - if lessons.count.zero?
      = t :please_email_us
    - else
      = render 'lessons/lessons_list'
      = t :if_none_of