<div class="container-fluid">
  <br>
  <div class="row">
    <div class="center">
      <%= search_form_for(@q, html: {class: 'form-inline'}) do |f| %>
        <div class="form-group">
          <%= f.label 'Min. Price' %>
          <%= f.search_field :price_gteq, class: 'form-control', style: 'width: auto' %>
        </div>
        <div class="form-group">
          <%= f.label 'Max. Price' %>
          <%= f.search_field :price_lteq, class: 'form-control', style: 'width: auto' %>
        </div>
        <%= f.submit 'Search', class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>

