<header class="how-it-works-banner">
  <h1 class="text-center"><%=t :tutors %></h1>
</header>
<section class="flex">
  <div class="bg-white full-width tutors">
    <% @tutors.each do |tutor| %>
      <div class="tutor flex">
        <div class="tutor-img">
          <%= image_tag tutor.image, class: 'tutor-img' %>
        </div>
        <div class="tutor-info">
          <h3>
            <%= link_to tutor.name, tutor %>
          </h3>
          <ul class="list-inline">
            <li>
              <%= tutor.undergraduate_institution %> <%= tutor.undergraduate_major %>
            </li>
            <li>
              <%= tutor.graduate_institution %> <%= tutor.graduate_study_field %>
            </li>
          </ul>
          <p><%= tutor.bio %></p>
        </div>
        <div class="tutor-rate flex flex-center">
          <div>
            <%= number_to_currency tutor.price %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
