%header.how-it-works-banner.hidden-xs.hidden-sm
  %h1.text-center= 'Coaches'
- unless browser.mobile? || browser.tablet?
  .row.rm-all
    .col-md-2
      = render 'tutors/search'
    .col-md-10
      .tutors
        - @tutors.to_a.uniq.each do |tutor|
          .tutor.flex
            .tutor-img
              = image_tag tutor.image, class: 'tutor-img center-cropped'
            .tutor-info
              .tutor-info-inner
                %h3
                  = link_to tutor.name, tutor
                %ul.list-inline
                  %li
                    = tutor.undergraduate_institution
                    = tutor.undergraduate_major
                  %li
                    = tutor.graduate_institution
                    = tutor.graduate_study_field
                %p= tutor.bio
                %h5
                  - tutor.subjects.each do |subject|
                    %span.label.label-info= subject.name unless subject.name == 'Other'
            .tutor-rate
              %h3.tutor-price
                = number_to_currency tutor.price
              .tutor-star-rating{ "data-score" => tutor.rating.try(:round) }
  .row.rm-all
    .col-md-9.col-md-offset-3
      .center= will_paginate @tutors, renderer: BootstrapPagination::Rails
      .center
        .fb-like{"data-action" => "like", "data-href" => "https://pairbis.com/", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true"}
- else
  .subheader
    .row
      .col-xs-6
        %h3
          = 'Search Coaches'
      .col-xs-6.text-right
        %button.btn.btn-link.reveal-fl
          = fa_icon 'sliders'
          = t(:filter)
  .tutor-fl
    = render 'tutors/search'
  .tutors
    - @tutors.to_a.uniq.each do |tutor|
      .tutor.flex
        .tutor-img
          = image_tag tutor.image, class: 'center-cropped'
        .tutor-info
          .tutor-info-inner
            %h3
              = link_to tutor.name, tutor
            .tutor-star-rating{ "data-score" => tutor.rating.try(:round) }
            %ul.list-inline
              %li
                = tutor.undergraduate_institution
                = tutor.undergraduate_major
                - if tutor.graduate_institution? || tutor.graduate_study_field?
                  = ', '
                = tutor.graduate_institution
                = tutor.graduate_study_field
            %p= tutor.bio
            %h5
              - tutor.subjects.each do |subject|
                %span.label.label-info= subject.name unless subject.name == 'Other'
            .tutor-rate
              %h3.tutor-price
                = number_to_currency tutor.price


:javascript
    $(".tutor-star-rating").raty({
      score: function() {
                return $(this).attr('data-score');
              },
      path: '/assets',
      readOnly: true});

  $('.reveal-fl').click(function(){
    $('.tutor-fl').css('right', '0');
  });

  $('.close-fl').click(function(){
    $('.tutor-fl').css('right', '-300px');
  });

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57658580-1', 'auto');
  ga('send', 'pageview');