<header class="how-it-works-banner">
  <h1 class="text-center">TUTORS</h1>
</header>
<section class="flex">
  <div class="bg-white full-width tutors">
    <% @tutors.each do |tutor| %>
      <div class="tutor flex">
        <div>
          <%= image_tag tutor.image, width: '100', class: 'img-circle' %>
        </div>
        <div>
          <h3>
            <%= link_to tutor.name, tutor %>
          </h3>
          <%= tutor.undergraduate_institution %>
          <%= tutor.undergraduate_major %>
          <%= tutor.graduate_institution %>
          <%= tutor.graduate_study_field %>
          <%= tutor.bio %>
        </div>
        <div>
          <%= number_to_currency tutor.price %>
        </div>
      </div>
    <% end %>
  </div>
</section>