<header class="how-it-works-banner">
  <h1 class="text-center"><%=t :tutors %></h1>
</header>

<h4 class="center"><%= will_paginate @tutors, renderer: BootstrapPagination::Rails %></h4>


<section class="flex">
  <div class="bg-white full-width tutors">
    <% @tutors.each do |tutor| %>
      <div class="tutor flex">
        <div class="tutor-img">
          <%= image_tag tutor.image, class: 'tutor-img' %>
        </div>
        <div class="tutor-info">
          <h3>
            <%= link_to tutor.name, tutor %>
          </h3>
          <ul class="list-inline">
            <li>
              <%= tutor.undergraduate_institution %> <%= tutor.undergraduate_major %>
            </li>
            <li>
              <%= tutor.graduate_institution %> <%= tutor.graduate_study_field %>
            </li>
          </ul>
          <h5>
            <% tutor.display_subjects.split(', ').each do |subject| %>
              <span class="label label-info"><%= subject %></span>
            <% end %>
          </h5>
          <p><%= tutor.bio %></p>
        </div>
        <div class="tutor-rate flex flex-center">
          <div>
            <%= number_to_currency tutor.price %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>


<h4 class="center"><%= will_paginate @tutors, renderer: BootstrapPagination::Rails %></h4>


<div class="center">
  <div class="fb-like" data-href="https://pairbis.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
  </div>
</div>

<br>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57658580-1', 'auto');
  ga('send', 'pageview');

</script>
