<h1>Tutors</h1>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Format</th>
      <th>University</th>
      <th>Price</th>
      <th>Profile</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tutors.each do |tutor| %>
      <tr>
        <td><%= image_tag tutor.image, width: '30' %></td>
        <td><%= link_to tutor.name, tutor %></td>
        <td><%= tutor.format %></td>
        <td><%= tutor.university %></td>
        <td><%= number_to_currency tutor.price %></td>
        <td><%= tutor.bio %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
