<header class="bg-green flex reg-header">
  <div class="media full-width tutor-header">
    <div class="pull-left">
      <%= image_tag @tutor.image, width: '100', class: 'img-circle' %>
    </div>
    <div class="media-body">
      <h1>
        <%= @tutor.name %>
      </h1>
      <ul class="list-inline">
        <li><%= @tutor.undergraduate_major %>, <%= @tutor.undergraduate_institution %></li>
        <li><%= @tutor.graduate_study_field %>, <%= @tutor.graduate_institution %></li>
      </ul>
    </div>
  </div>
</header>
<section class="flex">
  <div class="bg-white full-width content-pad">
    <p id="notice"><%= notice %></p>
    <p class="lead">
      <%= @tutor.long_bio %>
    </p>
    <p>
      <strong>Format:</strong>
      <%= @tutor.format %>
    </p>

    <p>
      <strong>Subjects:</strong>
      <%= @tutor.subject %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency @tutor.price %>
    </p>

    <% if current_user.try(:profile) == @tutor %>
        <p>
          <strong>Skype ID:</strong>
          <%= @tutor.skype_id %>
        </p>
        <p>
          <strong>Gmail address:</strong>
          <%= @tutor.gmail_address %>
        </p>
        <p>
          <strong>Languages:</strong>
          <%= @tutor.languages %>
        </p>
        <p>
          <strong>Routing Number:</strong>
          <%= @tutor.routing_number %>
        </p>
        <p>
          <strong>Account Number:</strong>
          <%= @tutor.account_number %>
        </p>
        <%= link_to 'Edit', edit_tutor_path(@tutor), class: "btn btn-link" %>
    <% end %>

    <div>
      <h1 class='pull-left'>
        Lessons
      </h1>
    </div>
    <%= render 'lessons/lessons_list' %>

    <% if (current_user.try(:profile) == @tutor) && @tutor.completed_profile? %>
        <%= link_to 'New Lesson', new_lesson_path, class: 'btn btn-primary pull-right' %>
    <% end  %>
  </div>
</section>