<header class="bg-green flex reg-header">
  <div class="media full-width tutor-header">
    <div class="pull-left">
      <%= image_tag @tutor.image, width: '100', class: 'img-circle' %>
    </div>
    <% if @tutor.is_the?(current_user) %>
        <div class="pull-right">
          <%= link_to 'Edit Profile', edit_tutor_path(@tutor), class: "btn btn-primary" %>
        </div>
    <% end %>
    <div class="media-body">
      <h1>
        <%= @tutor.name %>
      </h1>
      <ul class="list-inline">
        <li><%= @tutor.undergraduate_major %>, <%= @tutor.undergraduate_institution %></li>
        <li><%= @tutor.graduate_study_field %>, <%= @tutor.graduate_institution %></li>
      </ul>
      <%= @tutor.display_subjects %>
      <%= number_to_currency @tutor.price %>
    </div>
  </div>
</header>
<% if @tutor.is_the?(current_user) %>
  <section class="flex sm">
    <div class="bg-white full-width content-pad">
      <div id="notice"><%= notice %></div>
      <p class="lead rm-bottom">
        <%= @tutor.long_bio %>
      </p>    
    </div>
  </section>
  <section class="flex space-between tutor-content md">

    <div class="flex f-column relative">
      <div class="flex f-auto f-column relative bg-white">
        <div class="flex f-auto relative tutor-icon">
          <div class="flex f-center f-center-jtd f-vertical centerblock">
            <div class="relative">
              <figure>
                <%= image_tag 'gmail-logo.png', width: 75, height: 75 %>
              </figure>
            </div>
          </div>
        </div>
        <div class="f-center f-row flex tutor-value full-width bg-gmail">
          <div class="centerblock text-center">
            <%= @tutor.gmail_address %>
          </div>
        </div>
      </div>
    </div>

    <div class="flex f-column relative">
      <div class="flex f-auto f-column relative bg-white">
        <div class="flex f-auto relative tutor-icon">
          <div class="flex f-center f-center-jtd f-vertical centerblock">
            <div class="relative">
              <figure>
                <%= image_tag 'language.png', width: 75, height: 75 %>
              </figure>
            </div>
          </div>
        </div>
        <div class="f-center f-row flex tutor-value full-width bg-lang">
          <div class="centerblock text-center">
            <%= @tutor.languages %>
          </div>
        </div>
      </div>
    </div>

    <div class="flex f-column relative">
      <div class="flex f-auto f-column relative bg-white">
        <div class="flex f-auto relative tutor-icon">
          <div class="flex f-center f-center-jtd f-vertical centerblock">
            <div class="relative">
              <figure>
                <%= image_tag 'skype-logo.png', width: 75, height: 75 %>
              </figure>
            </div>
          </div>
        </div>
        <div class="f-center f-row flex tutor-value full-width bg-skype">
          <div class="centerblock text-center">
            <%= @tutor.skype_id %>
          </div>
        </div>
      </div>
    </div>

    <div class="flex f-column relative">
      <div class="flex f-auto f-column relative bg-white">
        <div class="flex f-auto relative tutor-icon">
          <div class="flex f-center f-center-jtd f-vertical centerblock">
            <div class="relative">
              <figure>
                <%= image_tag 'paypal-logo.png', width: 75, height: 75 %>
              </figure>
            </div>
          </div>
        </div>
        <div class="f-center f-row flex tutor-value full-width bg-paypal">
          <div class="centerblock text-center">
            <%= @tutor.paypal_account %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
<section class="flex md f-column">
  <div>
    <h1>Lessons</h1>
  </div>
  <div class="bg-white full-width content-pad">
    <% if @lessons.count.zero? %>
        You haven't created any lessons yet. Click in New Lesson to create one now.
    <% else %>
        <%= render 'lessons/lessons_list' %>
    <% end %>
    <% if (@tutor.is_the?(current_user)) && @tutor.completed_profile? %>
        <%= link_to 'New Lesson', new_lesson_path, class: 'btn btn-primary pull-right' %>
    <% end  %>
  </div>
</section>