<p id="notice"><%= notice %></p>

<h1>
  <%= @tutor.name %>
</h1>
<% if current_user == @tutor.user %>
  <%= link_to 'Edit', edit_tutor_path(@tutor), class: "btn btn-link" %>
<% end %>
<p>
  <strong>Format:</strong>
  <%= @tutor.format %>
</p>

<p>
  <strong>University:</strong>
  <%= @tutor.university %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @tutor.price %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @tutor.bio %>
</p>

<div>
  <h1 class='pull-left'>
    Lessons
  </h1>
  <%= link_to 'New Lesson', new_lesson_path, class: 'btn btn-primary pull-right' %>
</div>
<%= render 'lessons/lessons_list' %>
