<p>
  A student has reserved a lesson with you:
</p>
<ul>
  <li>Student: <%= @student.name %></li>
  <li>Time: <%= @order.lesson.date_and_time %></li>
  <li>Student Skype Name: <%= @student.skype_id %></li>
  <li>Student Gmail Address (for Google Hangouts): <a href="mailto:<%= @student.gmail_address %>"><%= @student.gmail_address %></a></li>
</ul>
<p>
  Cancellation Policy: If you need to cancel a lesson, please email us ASAP. 
</p>
<p>
  P2PCoaching Team
</p>