<p>
  A student has reserved a lesson with you:
</p>
<ul>
  <li>Student: <%= @student.name %></li>
  <li>Time: <%= @order.lesson.date_and_time %></li>
  <li>Student Skype Name: <%= @student.skype_id %></li>
  <li>Student Gmail Address (for Google Hangouts): <a href="mailto:<%= @student.gmail_address %>"><%= @student.gmail_address %></a></li>
</ul>
<p>
  Cancellation Policy: If you need to cancel a lesson, please email us at
  <a href="mailto:pairbis@gmail.com.">pairbis@gmail.com.</a> ASAP. If you email us at least 24 hours prior to the lesson start time, you can cancel your lesson without any penalty. If it is within 24 hours, please email us and also send a brief apology message to the student directly via Skype or Google Hangouts. In the latter case, we ask you to give a 50% discount to the same student for your next lesson as a courtesy. (We will refund 50% of the student price the next time.)
</p>
<p>
  If you have any questions, feel free to email us at <a href="mailto:pairbis@gmail.com.">pairbis@gmail.com.</a>
</p>
<p>
  Pairbis Customer Support Team
</p>