<p>
  <%=t :student_lesson_confirmation_email_description1 %>
</p>
<ul>
  <li><%=t :student_lesson_confirmation_email_description2 %><%= @tutor.name %></li>
  <li><%=t :student_lesson_confirmation_email_description3 %><%= @order.lesson.date_and_time %></li>
  <li><%=t :student_lesson_confirmation_email_description4 %><%= @tutor.skype_id %></li>
  <li><%=t :student_lesson_confirmation_email_description5 %><a href="<%= @tutor.gmail_address %>"><%= @tutor.gmail_address %></a></li>
</ul>
<p>
  <%=t :student_lesson_confirmation_email_description6 %>
  <a href="mailto:pairbis@gmail.com.">pairbis@gmail.com</a><%=t :student_lesson_confirmation_email_description7 %>
</p>
<p>
  <%=t :student_lesson_confirmation_email_description8 %><a href="mailto:pairbis@gmail.com.">pairbis@gmail.com.</a>
</p>
<p>
  <%=t :student_lesson_confirmation_email_description9 %>
</p>


