<p>
  Thank you for using Pairbis. Your lesson has been confirmed:
</p>
<ul>
  <li>Tutor: <%= @tutor.name %></li>
  <li>Time: <%= @order.lesson.date_and_time %></li>
  <li>Tutor Skype Name: <%= @tutor.skype_id %></li>
  <li>Tutor Gmail Address (for Google Hangouts): <a href="<%= @tutor.gmail_address %>"><%= @tutor.gmail_address %></a></li>
</ul>
<p>
  Cancellation Policy: If you need to cancel a lesson, please email us at
  <a href="mailto:pairbis@gmail.com.">pairbis@gmail.com.</a> right away. If it is at least 24 hours prior to the
  lesson start time, we will give you a full refund. If it is between 12 and 24 hours,
  we will give you a 50% refund. If it is within 12 hours, we cannot accommodate a
  refund in most circumstances.
</p>
<p>
  If you have any questions, feel free to email us at <a href="mailto:pairbis@gmail.com.">pairbis@gmail.com.</a>
</p>
<p>
  Pairbis Customer Support Team
</p>
