<p><%=t :student_welcome_email_description1 %></p>
<p><%=t :student_welcome_email_description2 %><a href="<%= new_user_session_url %>"><%=t :student_welcome_email_description3 %></a><%=t :student_welcome_email_description4 %></p>
<p><%=t :student_welcome_email_description5 %></p>
<ol>
  <li>
    <%=t :student_welcome_email_description6 %>
  </li>
  <li>
    <%=t :student_welcome_email_description7 %>
  </li>
</ol>
<p>
  <%=t :student_welcome_email_description8 %>
  <a href="mailto:pairbis@gmail.com">pairbis@gmail.com</a><%=t :student_welcome_email_description9 %>
</p>
<p>
  <%=t :student_welcome_email_description10 %>
</p>
