<h1>Tutors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Format</th>
      <th>University</th>
      <th>Price</th>
      <th>Bio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tutor_profiles.each do |tutor_profile| %>
      <tr>
        <td><%= link_to tutor_profile.name, tutor_profile %></td>
        <td><%= tutor_profile.format %></td>
        <td><%= tutor_profile.university %></td>
        <td><%= tutor_profile.price %></td>
        <td><%= tutor_profile.bio %></td>
        <td><%= link_to 'Show', tutor_profile %></td>
      </tr>
    <% end %>
  </tbody>
</table>