<h1>Make a Reservation</h1>

<br/>
<h4>Lesson Details:</h4>
<%= @lesson.tutor.name %>
<br/>
<%= @lesson.day %>
<br/>
<%= @lesson.start_time %>
<br/>
<%= @lesson.duration %>

<h3>Price:</h3>
<%= number_to_currency @lesson.price %>
<br/>
<br/>
<br/>
<h4>Please Fill In Your Payment Information:</h4>
<%= render 'form' %>
