<h4>Lesson Details</h4>
<br/>
<h5>Tutor: <%= @lesson.tutor.name %></h5>
<h5>Lesson Time (US Eastern Time): <%= @lesson.day %><%= @lesson.start_time %></h5>
<h5>Lesson Duration (minutes): <%= @lesson.duration %></h5>
<h5>Price: <%= number_to_currency @lesson.price %></h5>
<br/>
<br/>
<h4>Your Payment Information</h4>
<%= render 'form' %>
