<div class="center">
  <h2>My Schedule</h2>
</div>

<table class="table table-striped table-bordered">
 <thead>
  <tr>
    <th>Day</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Status</th>
    <th>Tutor</th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.lesson.day %></td>
      <td><%= order.lesson.start_time %></td>
      <td><%= order.lesson.duration %></td>
      <td><%= order.lesson.status %></td>
      <td><%= order.lesson.tutor.try(:name) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h5>*If you would like to cancel a lesson after you have made a reservation, please email: Contact_Belluga@gmail.com ASAP.</h5>
<h5>*The cancellation policy is that you will get a full refund (minus the transaction cost) if you cancel at least 24 hours before the lesson start time, 50% of the lesson fee if you cancel within 24 hours, and 0% if you cancel after the lesson start time.</h5>