<header class="how-it-works-banner">
  <h1 class="text-center">My Schedule</h1>
</header>
<section class="flex">
  <div class="bg-white full-width content-pad">
    <table class="table table-striped table-bordered">
     <thead>
      <tr>
        <th>Day</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Status</th>
        <th>Tutor</th>
      </tr>
      </thead>

      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.lesson.day %></td>
          <td><%= order.lesson.start_time %></td>
          <td><%= order.lesson.duration %></td>
          <td><%= order.lesson.status %></td>
          <td><%= order.lesson.tutor.try(:name) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.lesson.day %></td>
      <td><%= order.lesson.start_time %></td>
      <td><%= order.lesson.duration %></td>
      <td><%= order.lesson.status.capitalize %></td>
      <td><%= order.lesson.tutor.try(:name) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h5>*If you would like to cancel a lesson after you have made a reservation, please email:
  <a href="mailto:pairbis@gmail.com">pairbis@gmail.com</a> ASAP.</h5>
<h5>*If you email us at least 12 hours prior to the lesson start time, we will give you a full refund. 
If you email us between 12 hours and before the beginning of lesson, we will give you a 60% refund. 
If you don’t email us before the lesson satrt time, we cannot accommodate a refund in most circumstances.</h5>
  </div>
</section>
