<%= form_tag contact_us_path do %>
    <div class="form-group">
        <%= label_tag "お名前（必須）" %>
    <%= text_field_tag :first_name, nil, class: 'form-control'  %>
    </div>
    <div class="form-group">
        <%= label_tag "メールアドレス（必須）" %>
        <%= email_field_tag :email, nil, class: 'form-control'  %>
    </div>
    <div class="form-group">
        <%= label_tag "お問合せ内容（必須）" %>
        <%= select_tag :category, options_for_select(["1.ビジネス・ディスカッション英会話レッスンを無料体験したい", "2.ディスカッション英会話レッスンを無料体験したい", "3.大学留学サポートレッスンを無料体験したい", "4.大学院（MBA含）留学サポートレッスンを無料体験したい", "5.サービスについて無料相談したい"]),
        class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= label_tag "ご用件（ご希望日時、先生の日本語対応のご希望、その他ご相談内容など）" %>
    <%= text_area_tag :message, nil, class: 'form-control'  %>
  </div>
  <div class="actions">
    <%= submit_tag t(:send_message), class: "btn btn-primary" %>
  </div>
<% end %>