<%= form_tag contact_us_path do %>
    <div class="form-group">
        <%= label_tag "お名前（必須）" %>
        <%= text_field_tag :first_name, nil, class: 'form-control'  %>
    </div>
    <div class="form-group">
        <%= label_tag "メールアドレス（必須）" %>
        <%= email_field_tag :email, nil, class: 'form-control'  %>
    </div>
    <div class="form-group">
        <%= label_tag "お問合せ内容（必須）" %>
        <%= select_tag :category, options_for_select(["1.ディスカッション英会話レッスン", "2.ビジネス交渉英会話レッスン", "3.ビジネスケース・ディスカッション英会話レッスン", "4.大学留学サポートレッスン", "5.MBA留学サポートレッスン", "6.サービスについてのご相談"]),class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= label_tag "ご用件（ご希望日時、先生の日本語対応のご希望、その他ご相談内容など）" %>
        <%= text_area_tag :message, nil, class: 'form-control' %>
    </div>
        <div class="form-group">
        <%= label_tag "ご希望の先生（第一希望）" %>
        <%= select_tag :preference1, options_for_select(["特になし、相談したい", "1. Adam T.", "2. Adelaide T.", "3. Crystal S.", "4. Haiqin S.", "5.Amanda Z.", "6. Hayato S.", "7. Geraldine D.", "8. Nobu I.", "9. Mitsu O.", "10. Liat B.", "11. Mabo I.", "12. Travis W.", "13. Haven J.", "14. Jennifer V.", "15. Cornelius L.", "16. Ashley P.", "17. Katarina C.", "18. Megan I.", "19. McKay R.", "20. Dominika S.", "21. Yanfeng L.", "22. Sola O.", "23. Ben M.", "24. Brian S.", "25. Dominique K.", "26. John", "27. Telia K.", "28. Sally H.", "29. Ning S.", "30. Turker Coskun", "31. Ilya V.", "32. David W.", "33. Sarkis A.", "34. Zachary M.", "35. Dre C.", "36. Pedro A."]), class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= label_tag "ご希望の先生（第二希望）" %>
        <%= select_tag :preference2, options_for_select(["", "1. Adam T.", "2. Adelaide T.", "3. Crystal S.", "4. Haiqin S.", "5.Amanda Z.", "6. Hayato S.", "7. Geraldine D.", "8. Nobu I.", "9. Mitsu O.", "10. Liat B.", "11. Mabo I.", "12. Travis W.", "13. Haven J.", "14. Jennifer V.", "15. Cornelius L.", "16. Ashley P.", "17. Katarina C.", "18. Megan I.", "19. McKay R.", "20. Dominika S.", "21. Yanfeng L.", "22. Sola O.", "23. Ben M.", "24. Brian S.", "25. Dominique K.", "26. John", "27. Telia K.", "28. Sally H.", "29. Ning S.", "30. Turker Coskun", "31. Ilya V.", "32. David W.", "33. Sarkis A.", "34. Zachary M.", "35. Dre C.", "36. Pedro A."]), class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= label_tag "ご希望の先生（第三希望）" %>
        <!-- <%= select_tag :preference3, options_for_select(Tutor.all.completed.pluck(:name)),class: 'form-control' %>-->
        <%= select_tag :preference3, options_for_select(["", "1. Adam T.", "2. Adelaide T.", "3. Crystal S.", "4. Haiqin S.", "5.Amanda Z.", "6. Hayato S.", "7. Geraldine D.", "8. Nobu I.", "9. Mitsu O.", "10. Liat B.", "11. Mabo I.", "12. Travis W.", "13. Haven J.", "14. Jennifer V.", "15. Cornelius L.", "16. Ashley P.", "17. Katarina C.", "18. Megan I.", "19. McKay R.", "20. Dominika S.", "21. Yanfeng L.", "22. Sola O.", "23. Ben M.", "24. Brian S.", "25. Dominique K.", "26. John", "27. Telia K.", "28. Sally H.", "29. Ning S.", "30. Turker Coskun", "31. Ilya V.", "32. David W.", "33. Sarkis A.", "34. Zachary M.", "35. Dre C.", "36. Pedro A."]), class: 'form-control' %>
    </div>
    <div class="actions">
        <%= submit_tag t(:send_message), class: "btn btn-primary" %>
    </div>
<% end %>