<header class="how-it-works-banner">
	<h1 class="text-center">英会話コース</h1>
</header>
  
	<section class="bg-white">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<center>
					<h2 class="text-center">目的に合わせてコースを選ぶ</h2>
					<h4 class="text-center">先生が違う、実際にハーバードの学生、教材が違う、レベル別、しゃべることにフォーカス、本当の英語力
					<h4 class="text-center">レッスンは30分ごとに$10から始められる
				</center>
			</div>
			<div class="col-md-2">
			</div>
		</div>
    <br>
		<div class="row">
        	<div class="col-md-6">
        		<center>
	        		<%= image_tag 'ESL.png', width: "290", height: "180", :title => '英会話' %>
		        	<h3>日常英会話コース</h3>
					<h5>教材の背景はボストンの生活シーン。</h5>
					<h5>まるでボストンに住んでいるかのように、楽しく日常会話を学んでいただけます。</h5>
					<h5></h5>
					<h5></h5>
					<h5>中学生の方、日常生活で使う英語を学びたい社会人の方</h5>
				</center>
        	</div>
        	<div class="col-md-6">
        		<center>
	        		<%= image_tag 'ESL.png', width: "290", height: "180", :title => '英会話' %>
					<h3>ビジネス英会話コース</h3>
					<h5>英語でのケース面接、またはTOEFLのスピーキングの勉強。</h5>
					<h5>例えば、「市場規模はなに」。</h5>
					<h5>レッスンは30分で15回。</h5>
					<h5>ビジネスで英語を使いたい方、大学院入試の準備、昇進のために試験勉強したい方など。</h5>
        	</div>
        </div>
	<br>
	<br>
        <div class="row">
        	<div class="col-md-6">
        		<center>
	        		<%= image_tag 'ESL.png', width: "290", height: "180", :title => '英会話' %>
		        	<h3>中級ディスカッション英会話コース</h3>
					<h5>教材の背景はボストンの生活シーン。</h5>
					<h5>まるでボストンに住んでいるかのように、楽しく日常会話を学んでいただけます。</h5>
					<h5></h5>
					<h5></h5>
					<h5>中学生の方、日常生活で使う英語を学びたい社会人の方</h5>
				</center>
        	</div>
        	<div class="col-md-6">
        		<center>
	        		<%= image_tag 'ESL.png', width: "290", height: "180", :title => '英会話' %>
					<h3>上級ディスカッション英会話コース</h3>
					<h5>英語でのケース面接、またはTOEFLのスピーキングの勉強。</h5>
					<h5>例えば、「市場規模はなに」。</h5>
					<h5>レッスンは30分で15回。</h5>
					<h5>ビジネスで英語を使いたい方、大学院入試の準備、昇進のために試験勉強したい方など。</h5>
        	</div>
        </div>
    </section>

	<section class="flex bg-white">
		<hr width="100%">
	</section>


    <section class="flex bg-grey">
         <div class="home-item">
          <div class='text-center'>
            <%= image_tag 'badge-ivy.png', width: "100", height: "100" %>
          </div>
          <h3 class="text-center"><%=t :ivy_league_tutors %></h3>
          <h5 class="text-center"><%=t :ivy_league_tutors_description1 %></h5>
          <h5 class="text-center"><%=t :ivy_league_tutors_description2 %></h5>
        </div>
        <div class="home-item">
          <div class='text-center'>
            <%= image_tag 'badge-pay.png', width: "100", height: "100" %>
          </div>
          <h3 class="text-center"><%=t :pay_per_lesson %></h3>
          <h5 class="text-center"><%=t :pay_per_lesson_description1 %></h5>
          <h5 class="text-center"><%=t :pay_per_lesson_description2 %></h5>
        </div>
        <div class="home-item">
          <div class='text-center'>
            <%= image_tag 'badge-schedule.png', width: "100", height: "100" %>
          </div>
          <h3 class="text-center"><%=t :online_lesson %></h3>
          <h5 class="text-center"><%=t :online_lesson_description1 %></h5>
          <h5 class="text-center"><%=t :online_lesson_description2 %></h5>
        </div>
    </section>



	<section class="bg-white">  
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <center>
            <h2 class="text-center"><%=t :contact %></h2>
            <h4 class="text-center"><%=t :contact_description1 %>
            <h4 class="text-center"><%=t :contact_description2 %>
            <h4 class="text-center"><%=t :contact_description3 %>
            <a href="mailto:pairbis@gmail.com">pairbis@gmail.com</a>
            </h4>
            <br>
            <%= image_tag 'contact.png', width: "305", height: "305", :title => 'Contact' %>
          </center>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </section>

    