<header class="how-it-works-banner">
	<h1 class="text-center">英会話レッスン</h1>
</header>
  
	<section class="bg-white">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<center>
					<h2>目的に合わせてコースを選ぶ</h2>
					<h4>日常英会話コースから、ビジネス英会話コース、ディスカッション英会話コースまで、学ぶ目的・ニーズに合わせたレッスンをご用意しています。レッスンは30・60分で、30分あたり$10の先生から揃えております。</h4>				
				</center>
			</div>
			<div class="col-md-2">
			</div>
		</div>
    <br>
		<div class="row">
        	<div class="col-md-6">
        		<center>
	        		<%= image_tag 'ESL.png', width: "290", height: "180", :title => '英会話' %>
		        	<h3>日常英会話コース</h3>
					<h5>教材の背景はボストンの生活シーン。</h5>
					<h5>まるでボストンに住んでいるかのように、楽しく日常会話を学んでいただけます。</h5>
					<h5>中学生の方から、実際に日常生活で使う英語を学びたい大人の方に最適です。</h5>
					<h5>ストーリーは30分のレッスン20回（もしくは60分のレッスン10回）で完結しますが、</h5>
					<h5>一回ごとにレッスンをとっていただくことができます。</h5>
				</center>
        	</div>
        	<div class="col-md-6">
        		<center>
	        		<%= image_tag 'ESL.png', width: "290", height: "180", :title => '英会話' %>
					<h3>ビジネス英会話コース</h3>
					<h5>教材は、英語でのビジネスケース面接と、TOEFLのスピーキングの練習をご用意。</h5>
					<h5>ビジネスケース面接は、アメリカ人がコンサルティングなどで行う面接を疑似体験、</h5>
					<h5>TOEFLスピーキングは、TOEFLの試験対策としてご利用いただけます。</h5>
					<h5>MBA留学を考えている方、TOEICやTOEFLの準備をしている方、</h5>
					<h5>仕事で英語を使われる方に最適です。</h5>
        	</div>
        </div>
	<br>
	<br>
        <div class="row">
        	<div class="col-md-6">
        		<center>
	        		<%= image_tag 'ESL.png', width: "290", height: "180", :title => '英会話' %>
		        	<h3>中級ディスカッション英会話コース</h3>
					<h5>教材は、日本でもNHKなどに取り上げられて有名な</h5>
					<h5>ハーバードの授業Justice（正義）。</h5>
					<h5>中級コースでは、質の高い議論を高校レベルの英語で行います。</h5>
					<h5>高校生の方から、実践的な英語を学びたい大人の方に最適です。</h5>
					<h5>内容は、30分のレッスン24回（もしくは60分のレッスン12回）で完結しますが、</h5>
					<h5>一回ごとにレッスンをとっていただくことができます。</h5>
				</center>
        	</div>
        	<div class="col-md-6">
        		<center>
	        		<%= image_tag 'ESL.png', width: "290", height: "180", :title => '英会話' %>
					<h3>上級ディスカッション英会話コース</h3>
					<h5>英語でのケース面接、またはTOEFLのスピーキングの勉強。</h5>
					<h5>例えば、「市場規模はなに」。</h5>
					<h5>レッスンは30分で15回。</h5>
					<h5>ビジネスで英語を使いたい方、大学院入試の準備、昇進のために試験勉強したい方など。</h5>
        	</div>
        </div>
    </section>

	<section class="flex bg-white">
		<hr width="100%">
	</section>


    <section class="flex bg-grey">
         <div class="home-item">
          <div class='text-center'>
            <%= image_tag 'badge-ivy.png', width: "100", height: "100" %>
          </div>
          <h3 class="text-center"><%=t :ivy_league_tutors %></h3>
          <h5 class="text-center"><%=t :ivy_league_tutors_description1 %></h5>
          <h5 class="text-center"><%=t :ivy_league_tutors_description2 %></h5>
        </div>
        <div class="home-item">
          <div class='text-center'>
            <%= image_tag 'badge-pay.png', width: "100", height: "100" %>
          </div>
          <h3 class="text-center"><%=t :pay_per_lesson %></h3>
          <h5 class="text-center"><%=t :pay_per_lesson_description1 %></h5>
          <h5 class="text-center"><%=t :pay_per_lesson_description2 %></h5>
        </div>
        <div class="home-item">
          <div class='text-center'>
            <%= image_tag 'badge-schedule.png', width: "100", height: "100" %>
          </div>
          <h3 class="text-center"><%=t :online_lesson %></h3>
          <h5 class="text-center"><%=t :online_lesson_description1 %></h5>
          <h5 class="text-center"><%=t :online_lesson_description2 %></h5>
        </div>
    </section>



	<section class="bg-white">  
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <center>
            <h2 class="text-center"><%=t :contact %></h2>
            <h4 class="text-center"><%=t :contact_description1 %>
            <h4 class="text-center"><%=t :contact_description2 %>
            <h4 class="text-center"><%=t :contact_description3 %>
            <a href="mailto:pairbis@gmail.com">pairbis@gmail.com</a>
            </h4>
            <br>
            <%= image_tag 'contact.png', width: "305", height: "305", :title => 'Contact' %>
          </center>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </section>

    