<header class="how-it-works-banner">
	<h1 class="text-center"><%=t :faqs %></h1>
</header>
<section class="flex space-between flex-no-wrap bg-gray how-it-works">
	<div class="how-item for-students">
		<header>
			<h3><%=t :for_students %></h3>
		</header>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					1
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :how_does_your_service_work %></h4>
				<p><%=t :there_are_three_simple_steps %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					2
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :how_much_do_i_pay %></h4>
				<p><%=t :the_price_is_set_by %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					3
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :student_do_i_need_to_commit %></h4>
				<p><%=t :no_you_can_take_as_many %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					4
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :can_i_change_my_tutor %></h4>
				<p><%=t :absolutely_the_way_it_works %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					5
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :what_material_should_i_use %></h4>
				<p><%=t :you_are_welcome_to_choose_any %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					6
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :the_tutor_didnt_show_up %></h4>
				<p><%=t :yes_certainly_please_email_us %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					7
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :how_can_i_cancel %></h4>
				<p><%=t :if_you_need_to_cancel %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					8
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :how_can_i_pay %></h4>
				<p><%=t :we_accept_payment %></p>
			</div>
		</div>
	</div>
	<div class="how-item for-tutors">
		<header>
			<h3><%=t :for_tutors %></h3>
		</header>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					1
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :i_am_a_graduate_of %></h4>
				<p><%=t :yes_both_students_and_graduates %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					2
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :do_i_need_to_be_an_ivy %></h4>
				<p><%=t :at_this_point_we_are %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					3
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :i_dont_know_what %></h4>
				<p><%=t :yes_we_do_we %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					4
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :do_i_need_to_commit_tutor %></h4>
				<p><%=t :no_you_are_encouraged %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					5
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :how_much_do_i_earn %></h4>
				<p><%=t :you_get_to_set_your_own_price %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					6
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :how_can_i_cancel_my_lesson_tutor %></h4>
				<p><%=t :if_you_need_to_cancel_tutor %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					7
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :how_does_the_money_transfer %></h4>
				<p><%=t :we_will_transfer_funds %></p>
			</div>
		</div>
	</div>
</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57658580-1', 'auto');
  ga('send', 'pageview');

</script>