<header class="how-it-works-banner">
	<h1 class="text-center"><%=t :how_it_works %></h1>
</header>
<section class="flex space-between flex-no-wrap bg-gray how-it-works">
	<div class="how-item for-students">
		<header>
			<h3><%=t :for_students %></h3>
		</header>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					1
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :how_does_your_service_work %></h4>
				<p><%=t :there_are_three_simple_steps %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					2
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :how_much_do_i_pay %></h4>
				<p><%=t :the_price_is_set_by %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					3
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :student_do_i_need_to_commit %></h4>
				<p><%=t :no_you_can_take_as_many %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					4
				</div>
			</div>
			<div class="media-body">
				<h4><%=t :can_i_change_my_tutor %></h4>
				<p><%=t :absolutely_the_way_it_works %></p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					5
				</div>
			</div>
			<div class="media-body">
				<h4>What material should I use for the tutoring sessions?</h4>
				<p>You are welcome to choose any material you like to use, as long as you agree with the tutor. We have a list of recommended material for you and the tutor to use, some of which are online and you can access for free, while some of which are books you can buy on Amazon.com. In case you agree with the tutor to purchase books, you would have to pay for the tutor’s book as well as you own. Please email us if you decide to buy a book for the tutor, so that we can follow up with you to help with the payment process. (We only help transfer the money to the tutor and don’t charge for books you buy.)</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					6
				</div>
			</div>
			<div class="media-body">
				<h4>The tutor didn’t show up on Skype/Google Hangouts on time. Can I get a refund?</h4>
				<p>Yes, certainly. Please email us with a brief description of your situation. We will give you a partial refund in the case of a delay or a full refund in the case of a no-show.</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					7
				</div>
			</div>
			<div class="media-body">
				<h4>How can I cancel my lesson?</h4>
				<p>If you need to cancel a lesson, please email us at pairbis@gmail.com ASAP. If you email us at least 12 hours prior to the lesson start time, we will give you a full refund. If you email us between 12 hours and before the beginning of lesson, we will give you a 60% refund. If you don’t email us before the lesson satrt time, we cannot accommodate a refund in most circumstances.</p>
			</div>
		</div>
	</div>
	<div class="how-item for-tutors">
		<header>
			<h3><%=t :for_tutors %></h3>
		</header>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					1
				</div>
			</div>
			<div class="media-body">
				<h4>I am a graduate of an Ivy League school, but am no longer a student. Can I sign up?</h4>
				<p>Yes, both students and graduate are welcome to sign up. You are also welcome to sign up if you are a student or a graduate of an Ivy League graduate-degree program (e.g., Harvard college student, Harvard business school graduate, Yale English PhD student).</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					2
				</div>
			</div>
			<div class="media-body">
				<h4>Do I need to be an Ivy League student or a graduate to become a tutor?</h4>
				<p> At this point, we are focusing our service on a select number of top universities, specifically Ivy League schools, MIT, and Stanford. However, if you feel confident that your qualification is just as good as students from those schools, please send us an email.</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					3
				</div>
			</div>
			<div class="media-body">
				<h4>I don't know what to teach. Is there a list of recommended material to use for the lessons?</h4>
				<p>Yes, we do. We will send out our list of recommended material and a lessons guide to you a few days before your first lesson, so that you can quickly go over it to prepare. Ultimately, it is up to you and the student to decide the format and style of your lessons, so please feel free to conduct the lessons in your own style if you prefer.</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					4
				</div>
			</div>
			<div class="media-body">
				<h4>Do I need to commit to do a certain number of lessons?</h4>
				<p>No, you are encouraged to list specific times that work for you, say, Nov 20th 3-4pm. In addition, you are welcome to list as few or as many lessons as you like. However, please make your expectations clear with your student during the first lesson, as some students are looking for long-term mentorship.</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					5
				</div>
			</div>
			<div class="media-body">
				<h4>How much do I earn?</h4>
				<p>You get to set your own price and the corresponding payment when you edit your profile. You can also change your price at a late stage.</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					6
				</div>
			</div>
			<div class="media-body">
				<h4>How can I cancel my lesson?</h4>
				<p>If you need to cancel a lesson, please email us at pairbis@gmail.com ASAP. If you email us at least 24 hours prior to the lesson start time, you can cancel your lesson without any penalty. If it is within 24 hours, please email us and also send a brief apology message to the student directly via Skype or Google Hangouts. In the latter case, we ask you to give a 50% discount to the same student for your next lesson as a courtesy. (We will refund 50% of the student price the next time.)</p>
			</div>
		</div>
	</div>
</section>
