<header class="how-it-works-banner">
    <h1 class="white">米国大学院(MBAを含む)留学サポート</h1>
</header>

<body>  
    <section class="bg-white">
		<div class="row">
			<div class="col-md-2">
            </div>
            <div class="col-md-8">
                    <h3>目的に合わせてレッスンを選ぶ</h3>
                    <h5>米国大学院(MBAを含む)留学を目指されている方向けとして、以下の2タイプののレッスンをご用意しております。</h5>
                    <ol>
                        <li>出願サポートレッスン （出願準備・エッセイ添削などのサポートを含め、希望する学校に合格することを目標とします）</li>
                        <li>英語ディスカッションレッスン　（TOEFLスピーキングもさることながら、実際の授業で役立つ根本的な英語力の向上を目標とします）</li>
                    </ol>
                    <h5>レッスンは30分または60分からお選びいただくことができ、30分$10～とお手頃な価格にて受講いただけます。</h5>
            </div>
			<div class="col-md-2">
			</div>
        </div>
         <br>
    </section>
 
    <section class="bg-gray">
        <div class="row">
            <div class="col-md-2">
            </div>    
            <div class="col-md-6">
                <h3>1. 出願サポート（出願準備・エッセイ添削など）レッスン</h3>
                <h5>アメリカ大学院の選考では、TOEFLやGMATの点数のみならず、</h5>
                <h5>エッセイやインタビューなどが総合的に評価されます。</h5>
                <h5>Pairbisには、実際にビジネススクールに在学する先生はもちろんのこと、</h5>
                <h5>出願サポート経験が豊富の先生が多数在籍。</h5>
                <h5>一時間当たり30分$10～と圧倒的に安い価格なので、何人ものの先生から</h5>
                <h5>エッセイのフィードバックをもらったり出願準備を手伝ってもらうことができます。</h5>
            </div>
            <div class="col-md-3">
                <center>
	        		<%= image_tag 'Baker.png', height: "168", :title => 'MBA留学' %>
				</center>	
            </div>
            <div class="col-md-1">
            </div>   
        </div>
    </section>

    <section class="bg-gray">
        <div class="row">
            <div class="col-md-2">
            </div>    
            <div class="col-md-3">
                <h3>レッスンの形式</h3>
                    <li>1レッスン30分または60分から選択可</li>
                    <li>SkypeまたはGoogle Hangoutを用いたオンラインレッスン</li>
                    <li>学校生活について聞いたり、エッセイ添削を手伝ってもらったりと、ご自分で内容をアレンジ可</li>
                    <li>既にお使いいただいているTOEFL・GMATなどの参考書もご使用可</li>
                    <li>レッスン内容は各回完結型で、何人もの先生とレッスンをすることが可能</li>
            </div>
            <div class="col-md-3">
                <h3>学べる内容</h3>
                    <li>実際に入学している生徒から聞けるアメリカ大学院での実生活</li>
                    <li>試験対策や出願のコツなど</li>
                    <li>エッセイ添削</li>
            </div> 
            <div class="col-md-3">
                <h3>こんな方にオススメ！</h3>
                    <li>アメリカの大学院留学を考えており、実際に学校に入学している人から実生活について聞いてみたい方</li>
                    <li>既存のサービスを利用して出願準備をしているが、より多くの人からエッセイなどのフィードバックを受けたい方</li>
                    <li>私費留学予定で予算が限られており、より効率的に留学準備をされたい方</li>
            </div> 
            <div class="col-md-1">
            </div>
        </div>
        <br>
        <br>
        <br>
    </section>

    <section class="bg-white">
        <div class="row">
            <div class="col-md-2">
            </div>    
            <div class="col-md-6 text-left">
                <h3>2. 英語ディスカッションレッスン</h3>
                <h5>アメリカ大学院(特にビジネススクール)の授業は、ケースメソッドなどのディスカッション形式で行われます。</h5>
                <h5>議論の内容を把握して、いかに的を得た回答をできるかが問われる世界。</h5>
                <h5>入学した日本人の多くが、授業に馴染むまでに苦労しています。</h5>
                <h5>Pairbisでは、ビジネスケースや多種多様なディスカッショントピックを用いて、</h5>
                <h5>ハーバードの学生とディスカッションをすることが可能。</h5>
                <h5>既に合格が決まって入学の準備をされている方から、留学の準備をされている方まで、</h5>
                <h5>実際に授業で使える英語力を鍛えていただけます。</h5>
                <h5>内容としては、以下の3つのコースをご用意しております。</h5>
            </div>
            <div class="col-md-3">
                <center>
                    <%= image_tag 'Business_English.png', height: "168", :title => '英語レッスン' %>
                </center>   
            </div>
            <div class="col-md-1">
            </div>   
        </div>
    </section>

    <section class="bg-white">
        <div class="row">
            <div class="col-md-2">
            </div>    
            <div class="col-md-3">
                <h3 class="text-center">アカデミック</h3>
                <h5 class="text-center">マイケル・サンデル教授の授業「Justice（正義）」のテーマを用いたレッスンを通して、自分の考え・意見を的確に表現できるようになりましょう。</h5>
                <%= link_to english_path, class: "btn btn-primary btn-lg", data: { no_turbolink: true } do %>詳しくはこちら
                <% end %>
            </div>
            <div class="col-md-3">
                <h3 class="text-center">ビジネス交渉</h3>
                <h5 class="text-center">ハーバードビジネススクールのクラスをベースに作られた交渉の教材を通して、海外の人とビジネスをするスキルを身につけましょう。</h5>
                <%= link_to business_path(anchor: '1'), class: "btn btn-primary btn-lg", data: { no_turbolink: true } do %>詳しくはこちら
                <% end %>
            </div>
            <div class="col-md-3">
                <h3 class="text-center">ビジネスケース</h3>
                <h5 class="text-center">コンサルティングファームの面接などに使われるケースを通して、的確にビジネスコンセプトを英語で表現する能力を磨きましょう。</h5>
                <%= link_to business_path(anchor: '2'), class: "btn btn-primary btn-lg", data: { no_turbolink: true } do %>詳しくはこちら
                <% end %>
            </div>   
            <div class="col-md-1">
            </div> 
        </div>
    </section>

    <!-- <section class="bg-white">
        <br>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <center>
                    <%= image_tag 'Business_English.png', height: "160", :title => 'ビジネス英会話' %>
                </center>
            </div>
            <div class="col-md-6">
                <h3>2. 英語ディスカッションレッスン</h3>
                <h5>アメリカ大学院の授業の多くは、ケースメソッドなどのディスカッション形式で行われます。</h5>
                <h5>議論の内容を把握して、いかに的を得た回答をできるかが問われる世界。</h5>
                <h5>ビジネススクールに入学した日本人の多くが、授業に馴染むまでに苦労しています。</h5>
                <h5>Pairbisでは、ビジネスケースや多種多様なディスカッショントピックを用いて、</h5>
                <h5>ハーバードの学生とディスカッションをすることが可能。</h5>
                <h5>既に合格が決まって入学の準備をされている方から、留学の準備をされている方まで、</h5>
                <h5>実際に授業で使える英語力を鍛えていただけます。</h5>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </section>

    <section class="bg-white">
        <div class="row">
            <div class="col-md-2">
            </div>    
            <div class="col-md-3">
                <h3>レッスンの形式</h3>
                    <li>1レッスン30分または60分から選択可</li>
                    <li>SkypeまたはGoogle Hangoutを用いたオンラインレッスン</li>
                    <li>Pairbis独自のディスカッション英会話教材を使用</li>
                    <li>ビジネスケースから一般教養まで、好きな内容でトピックを選択可</li>
                    <li>レッスン内容は各回完結型</li>
            </div>
            <div class="col-md-3">
                <h3>学べる内容</h3>
                    <li>自分の意見や考えを論理的に、かつ効果的な構成で伝えるビジネス英会話力</li>
                    <li>ハーバードに実際に在学中の優秀な講師による実践的なフィードバック</li>
            </div> 
            <div class="col-md-3">
                <h3>こんな方にオススメ！</h3>
                    <li>アメリカ大学院留学を目指しており、根本的な英語力を磨きたい方</li>
                    <li>TOEFLの勉強をしているが、試験に特化した勉強以外に、根本的なSpeaking・Listening能力を上げたい方</li>
                    <li>アメリカ大学院にすでに合格しており、入学までの数か月で授業の準備がしたい方</li>
            </div> 
            <div class="col-md-1">
            </div>
        </div>
        <br>
        <br>
        <br>
    </section>-->


    <section class="bg-gray">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <center>
                    <h3>受講者の声</h3>
                    <br>
                    <h5>現在アメリカMBA受験に向けて準備を進めており、英語の勉強方法や出願書類の書き方について</h5>
                    <h5>具体的なアドバイスがほしいと思ったのがきっかけでPairbisを利用し始めました。</h5>
                    <br>
                    <h5>Pairbisでは、予備校やWebサイトから入手できないノウハウ等を</h5>
                    <h5>近年のMBA合格者である先生に直接聞くことができ、</h5>
                    <h5>また、レッスンの内容は個々人でのアレンジできるため、大変助かりました。</h5>
                    <br>
                    <h5>例えば、私の場合でいうと、純ドメなので英語力が伸び悩んでいるのですが、</h5>
                    <h5>勉強方法のみならず、どこまで英語力を伸ばせば良いのか、自分なりのゴールを持つことができました。</h5>
                    <br>
                    <h5>MBA受験を目指す方はもちろん、実際にビジネス経験のあるMBA生が先生なので</h5>
                    <h5>グローバルにビジネスに興味がある方にもお勧めだと思います。</h5>
                    <br>
                    <b>N.Iさん （会社員、30歳）</b>
                </center>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <br>
        <br>
    </section>

    <section class="bg-white">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <center>
                    <h3>まずは無料相談・無料体験レッスンから！</h3>
                    <h5>24時間以内にご連絡差し上げます。</h5>
                </center>
                <%= render 'contact_form'  %>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <br>
    </section>

    <section class="bg-gray">
        <div class="center">
            <h5>ハーバードビジネススクールでの日常生活をブログとして記しております。もしよろしければご覧ください。</h5>
            <a href="http://pairbis.blogspot.jp/" target="_blank">
                <%= image_tag 'blogger.png', width: "30", height: "30", :title => 'Blogger' %> 
            </a>
        </div>
    </section>
</body>