<body class="homepage">
    <section class="full-width height-two-thirds home-banner">
        <div class="text-center">
            <h1 class="homepage-description">Our professional coaches help you to lead your dream job</h1>
         </div>   
        </section>    
            
    <section class="flex bg-white">
        </br>
        </br>
        <div class="row">
            <h2 class="bottom-margin text-center">How it works</h2>
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="col-md-4">
                    <div class='text-center'>
                        <%= image_tag 'find_your_coach.jpg', height: "100", :title => 'Find your coach' %>
                    </div>
                    <h3 clas  s="text-center">Find your coach</h3>
                    <h4 class="text-center">Choose a coach of your choice</h4>
                </div>
                <div class="col-md-4">
                    <div class='text-center'>
                        <%= image_tag 'set_a_lesson.jpg', height: "100", :title => 'Set a Lesson' %>
                    </div>
                    <h3 class="text-center">Set a lesson</h3>
                    <h4 class="text-center">Select a time that works for you</h4>
                </div>
                <div class="col-md-4">
                    <div class='text-center'>
                        <%= image_tag 'get_career_advice.jpg', height: "100", :title => 'Get career advice' %>
                    </div>
                    <h3 class="text-center">Get career advice</h3>
                    <h4 class="text-center">Talk with your coach online and ask your questions</h4>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        </br>
        </br>
    </section>

    <section class="flex bg-gray">
        </br>
        </br>
        <div class="row">
          <h2 class="bottom-margin text-center">Our career coaches</h2>
          <br>
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <div class="col-md-4">
              <div class='text-center'>
                <%= image_tag 'Sarkis.jpg', height: "100", :title => 'Sarkis' %>
              </div>
              <h3 class="text-center">Sarkis</h3>
              <h4 class="text-center">Goldman Sachs</h4>
            </div>
            <div class="col-md-4">
              <div class='text-center'>
                <%= image_tag 'Yuzhu.jpg', height: "100", :title => 'Yuzhu' %>
              </div>
              <h3 class="text-center">Yuzhu</h3>
              <h4 class="text-center">UBS</h4>
            </div>
            <div class="col-md-4">
              <div class='text-center'>
                <%= image_tag 'Mitsu.jpg', height: "100", :title => 'Mitsu' %>
              </div>
              <h3 class="text-center">Mitsu</h3>
              <h4 class="text-center">McKinsey</h4>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    </br>
      </br>
    </section>

    <section class="flex bg-white" id="customer">
      </br>
      </br>
      <div class="row">
        <h2 class="bottom-margin text-center">Customers' voice</h2>
        <br>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <div class='text-center'>
            <%= image_tag 'customer.jpg', height: "100", :title => 'customer' %>
          </div>
          <h3 class="text-center">"I was able to get inside perspectives about my top choice consulting firm."</h3>
          <h4 class="text-center">A senior at Harvard College</h4>
        </div>
        <div class="col-md-5">
          <div class='text-center'>
            <%= image_tag 'customer.jpg', height: "100", :title => 'customer' %>
          </div>
          <h3 class="text-center">"This service allowed me to ace my investment banking interview!"</h3>
          <h4 class="text-center">A senior at UC Berkeley</h4>
        </div>
        <div class="col-md-1">
        </div>
      </div>
      </br>
      </br>
    </section>
    
    <section class="flex bg-gray" id="contact">
      </br>
      </br>
      <div class='text-center'>  
        <h2>Contact us</h2>
        </br>
        <h3>Feel free to email us!</h3>
        <h3><a href="mailto:p2pcoaching@gmail.com" target="_top">p2pcoaching@gmail.com</a></h3>
      </div>
      </br>
      </br>
    </section>
  </body>
