<header class="how-it-works-banner">
	<h1 class="text-center"><%=t :how_it_works %></h1>
</header>
<section class="flex space-between flex-no-wrap bg-gray how-it-works">
	<div class="how-item for-students">
		<header>
			<h3><%=t :for_students %></h3>
		</header>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					1
				</div>
			</div>
			<div class="media-body">
				<h4>Find a Tutor</h4>
				<p>Browse our list of Ivy League tutors and their available times. </p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					2
				</div>
			</div>
			<div class="media-body">
				<h4>Request a Lesson... Or Send Us An Email</h4>
				<p> Once you find your tutor, check whether the tutor has listed a time that works for you. If he/she has, you can simply reserve that time and your lesson is comfirmed. If the tutor hasn't listed a time, just send us an email at pairbis@gmail.com. We will get in touch with the tutor to ask whether you can schedule a lesson with him/her.</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					3
				</div>
			</div>
			<div class="media-body">
				<h4>Enjoy Your Lesson</h4>
				<p>Your tutor will send you a short message via Skype or Google Hangouts a day before the lesson. Please make sure to be online at least 10 minutes before the lesson. Enjoy your lesson!</p>
			</div>
		</div>
		<% unless user_signed_in?  %>
			<div class="media text-center">
				<%= link_to "Sign Up As a Student Now", new_registration_path('student'), class: 'btn btn-primary btn-lg' %>
			</div>
			<br>
		<% end %>
	</div>
	<div class="how-item for-tutors">
		<header>
			<h3><%=t :for_tutors %></h3>
		</header>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					1
				</div>
			</div>
			<div class="media-body">
				<h4>Create Your Account</h4>
				<p>Sign up as a tutor and create your own account. All you have to do is to spend 2-3 minutes to write a little bit about yourself. You can also set your own price.</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					2
				</div>
			</div>
			<div class="media-body">
				<h4>List Your Lessons... Or Just Wait</h4>
				<p>Choose a time that will definitely work for you, say, Nov. 25th 7-8pm, and list it under your profile. Your lesson will be comfirmed when a student chooses your time slot and you get a confirmation email. Alternatively, we may send you an email when a student has expressed interest in conducting a lesson and set up a time with you.</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					3
				</div>
			</div>
			<div class="media-body">
				<h4>Conduct Your Lesson </h4>
				<p>Send your student a short message by Skype or Google Hangouts a day before the lesson. Find a quiet place and sign into Skype at least 15 minutes before the lesson.</p>
			</div>
		</div>
		<% unless user_signed_in?  %>
			<div class="media text-center">
				<%= link_to "Sign Up As a Tutor Now", new_registration_path('tutor'), class: 'btn btn-primary btn-lg' %>
			</div>
			<br>
		<% end %>
	</div>
</section>
