<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :day %><br>
    <%= f.date_select  :day, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :duration, 'Duration (60 Minutes Recommended)' %><br>
    <%= f.number_field :duration, class: "form-control", min: 0, step: 15 %>
    <small>In minutes</small>
  </div>
  <div class="form-group">
     <%= f.hidden_field :status, value: 'available' %>
  </div>
  <% unless current_user.tutor? %>
    <div class="form-group">
      <%= f.label :student_id %><br>
      <%= f.number_field :student_id %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
