<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Day</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Status</th>
    <th>Student</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.day %></td>
      <td><%= lesson.start_time %></td>
      <td><%= lesson.end_time %></td>
      <td><%= lesson.status %></td>
      <td><%= lesson.student.try(:name) %></td>
      <td>
        <% if current_user == lesson.tutor.user %>
          <%= link_to 'Edit', edit_lesson_path(lesson), class: 'btn btn-sm btn-default' %>
          <%= link_to 'Delete', lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'%>
        <% end %>
        <% if current_user.student? %>
          <%= link_to 'Request a lesson', new_lesson_order_path(lesson), class: 'btn btn-sm btn-success' %>
        <% end  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
