%section.no-top-pad
  %h4= t(:price)
  %ul.list-unstyled
    - # When buttons are clicked they set inputs and submit form. See tutors.coffee
    %li
      .btn-link{ 'data-selector' => 'price-filter' }= t(:any_price)
    %li= price_button 20, 30
    %li= price_button 30, 50
    %li= price_button 50, 75
    %li= price_button 75, 100
  .form-inline
    = f.label '$'
    = f.search_field :price_gteq, class: 'form-control input-xsmall'
    = f.label 'to $'
    = f.search_field :price_lteq, class: 'form-control input-xsmall'
    = f.submit t(:go), class: 'btn'