#pricing
  %h4
    = t(:price)
  %hr
  %ul.list-unstyled
    - # When buttons are clicked they set inputs and submit form. See tutors.coffee
    %li
      .btn-link{ 'data-selector' => 'price-filter' }= t(:any_price)
    %li= price_button 50, 100
    %li= price_button 100, 150
    %li= price_button 150, 200
    %li= price_button 200, 300
  %h4
    = t('price_range')
  %hr
  %ul.list-unstyled.range-price
    %li
      = f.label 'From $'
      = f.search_field :price_gteq, class: 'form-control'
    %li
      = f.label 'To $'
      = f.search_field :price_lteq, class: 'form-control'
    %li
      = f.submit t(:go), class: 'btn btn-primary'