<div class="container-fluid">
  <br>
  <div class="row">
    <div class="center" id="price-buttons">
      <% # When buttons are clicked they set inputs and submit form. See tutors.coffee %>
      <div class="btn btn-info"><%= t(:all) %></div>
      <%= price_button 20, 30 %>
      <%= price_button 30, 50 %>
      <%= price_button 50, 75 %>
      <%= price_button 75, 100 %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <br>
  <div class="row">
    <div class="center">
      <div class="form-group">
        <%= f.label 'Min. Price' %>
        <%= f.search_field :price_gteq, class: 'form-control', style: 'width: auto' %>
      </div>
      <div class="form-group">
        <%= f.label 'Max. Price' %>
        <%= f.search_field :price_lteq, class: 'form-control', style: 'width: auto' %>
      </div>
    </div>
  </div>
</div>

