<!DOCTYPE html>
<html>
	<head>
		<Title>Pairbis: Find An Ivy League Tutor For Online Lessons</Title>
		<meta name="description" content="Find An Ivy League Tutor For Online Lessons, Including Standardized Tests (e.g., SAT, GRE, GMAT), Admissions Advice, Essay Editing, and English Learning!">
		<meta name="google-site-verification" content="4jMD8BuvRkErAo9O-et20oH7gLIlOySyl8tSAxsANB4" />
		<meta name="msvalidate.01" content="518E3F9C3CEEE8EE278C23C74AD53F6D" />
		<meta name="keywords" content="Ivy League, Harvard, Yale, Princeton, SAT, TOEFL, GRE, GMAT, Online, Tutor, Tutoring, Admissions, ハーバード, 留学, アメリカ, 大学留学, 大学院留学">
		<script>
	      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	      ga('create', 'UA-57658580-1', 'auto');
	      ga('send', 'pageview');
		</script>

		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
	  <%= render 'layouts/header' %>
	  <%= render 'layouts/alerts' %>
	  <div class="content flex">
	    <%= yield %>
	  </div>
	</body>
